*.retry
node_modules
extracted-messages
npm-debug.log*
.vscode
perunjs/client.min*
*.woff2
.yarnclean
WEB-INF
*.war
.build_war
temp/
backend/*.retry
backend/build/*
backend/.classpath
backend/.settings
backend/.directory
backend/.project
backend/build/
backend/doc/
backend/target/
backend/www/perun-core.js
backend/www/perun-core.js.map
backend/www/*.perun-core.js
backend/www/*.perun-core.js.map
/target/
*.retry
build/*
.classpath
.settings
.directory
.project
build/
doc/
target/
www/perun-core.js
www/perun-core.js.map
www/*.perun-core.js
www/*.perun-core.js.map
www/perun-core.js.LICENSE.txt
