*.retry
node_modules
extracted-messages
npm-debug.log*
.vscode
perunjs/client.min*
*.woff2
.yarnclean
WEB-INF
*.war
.build_war
package-lock.json
temp/
backend/*.retry
backend/build/*
backend/.classpath
backend/.settings
backend/.directory
backend/.project
backend/build/
backend/doc/
backend/target/
backend/www/perun-core.js
backend/www/perun-core.js.map
backend/www/*.perun-core.js
backend/www/*.perun-core.js.map