.ul_item {
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size:13px;
    list-style-type: none;
    margin: 0;
    padding: 5px 2px 5px 2px;
    width: 100%;
    vertical-align:middle;
    text-align: left;
}

.li_item {
    margin:5px;
    display: block;
    color: #000;
    background-color: rgba(249, 235, 210, 0.6);;
    width: 94%;
    padding-left:15px;
    padding-right:5px;
    padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
    text-align: left;
    opacity:1;
    filter:alpha(opacity=100);
    -webkit-transition:600ms ease;
    -moz-transition:600ms ease;
    -o-transition:600ms ease;
    transition:600ms ease;
    border: none
}

.li_item:hover {
    display: block;
    color: rgb(249, 235, 210);
    cursor: pointer;
    background-color: rgba(34, 61, 16, 0.6);
}

.li_item_clicked {
    margin-top:5px;
    margin-bottom:5px;
    width:94%;
    display: block;
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:5px;
    color: rgb(249, 235, 210);
    cursor: pointer;
    background-color: rgba(34, 61, 16, 0.6);
    border-style: solid;
    border-color: #7a9966;
    -webkit-transition:600ms ease;
    -moz-transition:600ms ease;
    -o-transition:600ms ease;
    transition:600ms ease;
}

.li_item:active {
    display: block;
    color: rgba(34, 61, 16, 0.6);
    background-color: rgb(249, 235, 210);
    opacity:1;
    filter:alpha(opacity=100);
    cursor: pointer;
    background-image: url("/PERUNJS/img/bg_O_transparent.png")
}

.collapsibleIndicator {
    position: inherit;
    float: right;
    margin-right: 5%;
    margin-top: 4%;
}

.collapsibleMenu {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .5s;
    -o-transition: max-height .5s;
    transition: max-height .5s;
}

input[type=checkbox]:checked ~ .collapsibleMenu {
    max-height: 400px;
}

.collapsibleMenuHeading {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    color: black;
    background: rgba(249, 235, 210, 0.6);
    line-height: 3;
    cursor: pointer;
    margin-right: 4%;
    margin-left: 1%;
    padding-left: 10%;
}

.collapsibleIndicator {
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
}

input[type=checkbox]:checked + .collapsibleIndicator {
    -webkit-transform: rotate(180deg); 
    transform: rotate(180deg);
}

.sideDiv {
    display: inline-block;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 5px;
    padding: 10px;
    width: 18%;
    overflow: auto;
    height: 95.5%;
    -moz-animation-name: showEffect;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.3s;
    -webkit-animation-name: showEffect;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.3s;
    animation-name: showEffect;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}