.divMainContent {
    display: inline-block;
    background-color: rgba(1, 1, 1, 0.3);
    height: auto;
    width: 100%;
    margin-bottom: 3%;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 5px;
}

.selected_item {
    margin:0px;
    padding:0px;
    color:#f9ebd2;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size:12px;
    font-weight: bold;
    text-align: left;
}

.back_btn {
    background-color: #7a9966;
    color: rgb(249, 235, 210);
    border: none;
    padding: 1% 2% 1% 2%;
    border-radius: 3px;
    width: auto;
    height: auto;
    margin-top: 1%;
    float: left;
}
