.divUploadFile {
  border: 1px solid #b8b8b8;
  padding: 1vh;
  margin-right: 1vh;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #b4b4b4;
}

.labelStyle {
  color: black;
  font-size: 18px;
  border-bottom: 2px solid #e0ab11;
  width: max-content;
}

.uploadFileHolder {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 2vh;
  align-items: center;
  border: 1px solid #e2e2e28c;
  padding: 0.5vh;
  border-radius: 5px;
  background: #f8f8f8;
  box-shadow: 2px 2px 7px #9a9a9a;
}

.uploadFileBtn {
  border: none;
  background: #252f37;
  color: white;
  border-radius: 4px;
  box-shadow: 3px 3px 10px #808080;
  padding: 1vh;
}

.downloadableItemDiv {
  display: grid;
  grid-template-columns: 91% 8%;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 1vh;
}

.fileNameUpload {
  border: none;
  font-size: 16px;
  padding: 0.5vh;
  background: transparent;
  text-align: start;
}

.fileNameUpload:hover {
  background-color: #e6e6e6;
}

.fileNameUpload:focus {
  outline: none;
}

.deleteFileBtn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #c92727;
  margin-right: 0px;
  float: right;
  padding: 0.5vh;
  outline: none;
}

.deleteFileBtn:hover {
  color: #e30a0a;
  ;
  border-radius: 5px;
}

.deleteFileBtn:focus {
  outline: none;
}