.checkIfCSSisPresent{}

.ul_item {
    font-size: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 5px 2px 5px 2px;
    width: 100%;
    vertical-align:middle;
    text-align: left;
    height: calc(100% - 42px);
    overflow: auto;
}

.ul_item ul {
    display: block;
    z-index: 1000;
    width: 100%;
    padding: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.li_item {
    display: block;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgba(38, 48, 56, 0.8);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: left;
    -webkit-transition:600ms ease;
    -moz-transition:600ms ease;
    -o-transition:600ms ease;
    transition:600ms ease
}

.li_item:hover, .li_item_clicked {
    color: #000;
    background-color: rgba(230, 176, 17, 0.70);
}

.li_sub_item {
    float: none;
    width: auto;
    min-width: 200px;
    height: auto;
    margin-left: 15px;
    background: rgb(38, 48, 56);
    cursor: pointer;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #e0ab10;
    -webkit-transition: background-color 600ms;
    -moz-transition: background-color 600ms;
    -ms-transition: background-color 600ms;
    -o-transition: background-color 600ms;
    transition: background-color 600ms;
    transition-timing-function: ease-out;
}

.li_sub_item:hover, .li_sub_item_clicked {
    color: #000;
    background: #e0ab10;
}

.li_item_inline {
    display: inline-block;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    color: white;
    cursor: pointer;
    border: 2px solid rgb(72, 90, 106);
    background-color: transparent;
    box-shadow: 1px 1px 10px rgba(72, 90, 106, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: left;
    -webkit-transition:600ms ease;
    -moz-transition:600ms ease;
    -o-transition:600ms ease;
    transition:600ms ease
}

.li_item_inline:hover, .li_item_inline_clicked {
    color: #000;
    cursor: pointer;
    background-color: rgba(230, 176, 17, 0.70);
}
