.indicator-parent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1.5rem 0;
}
.button-affirmation {
  color: #fff;
  background: transparent;
  position: relative;
  overflow: hidden;
  transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  -moz-transition: all .3s;
  margin-right: 1rem;
}
.button-affirmation:before,
.button-affirmation:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #476b009a;
  z-index: -1;
  transform: translate3D(0,-100%,0); 
  -webkit-transform: translate3D(0,-100%,0);
  -ms-transform: translate3D(0,-100%,0);
  -moz-transform: translate3D(0,-100%,0);
  transition: all .5s;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
}
.button-affirmation:before {
  background: #2E4600;
  z-index: -2;
  transform: translate3D(0,0,0);
  -webkit-transform: translate3D(0,0,0);
  -ms-transform: translate3D(0,0,0);
  -moz-transform: translate3D(0,0,0);
}
.button-affirmation:hover{
  color: #000;
}
.button-affirmation:hover:after{
  transform: translate3D(0,0,0);
  -webkit-transform: translate3D(0,0,0);
  -ms-transform: translate3D(0,0,0);
  -moz-transform: translate3D(0,0,0);
  transition: all .5s;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
} 
.button-affirmation:focus {
  box-shadow: 0 0 0 0.3rem rgba(72,180,97,.5);
}
.button {
  color: #fff;
  padding: 0.3rem;
  border: 0 solid transparent;
  transition: all .3s ease-in-out;
  width: 9rem;
  display: inline-block;
  height: 2rem;
  border-radius: 0.25rem;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
}
.button:focus{
  outline: none;
}

.button-back {
  color: #fff;
  background: transparent;
  position: relative;
  overflow: hidden;
  transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  -moz-transition: all .3s;
  margin-right: 1rem;
}
.button-back:before,
.button-back:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #9c2c16;
  z-index: -1;
  transform: translate3D(0,-100%,0); 
  -webkit-transform: translate3D(0,-100%,0);
  -ms-transform: translate3D(0,-100%,0);
  -moz-transform: translate3D(0,-100%,0);
  transition: all .5s;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
}
.button-back:before {
  background: #8d230f;
  z-index: -2;
  transform: translate3D(0,0,0);
  -webkit-transform: translate3D(0,0,0);
  -ms-transform: translate3D(0,0,0);
  -moz-transform: translate3D(0,0,0);
}
.button-back:hover{
  color: #000;
}
.button-reset:hover:after{
  transform: translate3D(0,0,0);
  -webkit-transform: translate3D(0,0,0);
  -ms-transform: translate3D(0,0,0);
  -moz-transform: translate3D(0,0,0);
  transition: all .5s;
  -webkit-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
} 
.button-back:focus {
  box-shadow: 0 0 0 0.3rem rgba(225,83,97,.5);
}

.button-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 83%;
}

.margin-bot {
  margin-bottom: 2rem;
}

.steps {
  color: #e0ab10;
  font-size: 22px;
}

.custom-form {
  margin-top: -2.5rem;
}

.form-container .form-group {
  padding: 0 !important;
}

.button-position {
  margin-top: -2.5%;
  margin-left: 80%;
}

.button-position-right {
  margin-top: -4%;
  margin-left: 21%;
}

.button-grid {
  background-color: #263038bd;
  box-shadow: 0px 1px 5px #263038;
  text-transform: uppercase;
  overflow: hidden;
  padding: 0.5rem;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.5s;
  height: 4.2vh;
}

.button-grid:hover {
  background-color: #2630385c;
  border-color: #263038b5;
}

.button-grid:focus {
  background-color: #2630385c;
  border-color: #263038b5;
  box-shadow: 0px 1px 5px #263038b3;
  outline: 0;
}

.button-grid:active {
  color: #fff;
  box-shadow: 0px 1px 5px #263038;
  background-color: #2630385c !important;
  border-color: #263038b5 !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-custom-width {
  /* float: right; */
  /* width: 30%; */
  width: 20%;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
