.single-result {
  /* border-style: solid; */
  /* border-width: 2px; */
  padding: 10px;
  color: black;
  background-color: #e5e5e5;
  margin-bottom: 2px;
}

.sub-title {
  padding: 10px;
  /* color: black; */
  color: #3c3c3c;
  /* background-color: #e5e5e5; */
  background-color: #bcbcbc;
  margin-bottom: 2px;
  text-align: center;
  font-weight: 600;
  border-radius: 5px 5px 0px 0px;
}

.single-result-info {
  color: black;
  padding: 5px;
  margin-top: 5px;
  /* background-color: #eef; */
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #eed;
}

.single-result img {
  padding-right: 5px;
}

.rule-engine-title {
  display: inline;
  /* color: white; */
  color: #2f2f2f;
}

.rule-engine-title span {
  vertical-align: middle;
}

.rule-engine-header {
  padding: 20px;
  background: #e8b763;
  /* border-bottom: 1px solid #888; */
}

.rule-engine-header img {
  padding-right: 15px;
  vertical-align: middle;
}

.rule-engine-body {
  padding: 20px;
  height: auto;
  max-height: 500px;
  overflow: auto;
}

.rule-engine-content {
  height: auto;
  max-height: none;
  overflow: visible;
  border: none;
  /* background-color: rgba(38, 48, 56, 0.5); */
  background-color: #f9f9f9;
}

.rule-engine-footer {
  border-top: 1px solid #888;
}

.rule-info-close-btn {
  background: #e8b763 ;
  color: #2f2f34;
  font-weight: 600;
}

.rule-info-close-btn:hover {
  background: #e4a944;
}